.section {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 75vw;
}

.img {
    width: 500px;
}

.flexParent {
    margin-left: 50px;
}

.h1 {
    margin-bottom: 50px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.pList {
    display: flex;
}

.li {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}